<div class="settingscontainer">
    <label for="rowsInput">Zeilen: </label>
    <input type="number" id="rowsInput" [(ngModel)]="numRows" (input)="drawRectangleGrid()">
    <label for="columnsInput">Spalten: </label>
    <input type="number" id="columnsInput" [(ngModel)]="numCols" (input)="drawRectangleGrid()">
    <button (click)="toggleGrid()">Toggle Grid</button>
    
        <svg id="smallCanvas" #smallCanvas >
            <g #rectangleGrid class="grid" style="height: 100%;"></g>
            <g #drawingArea></g>
        </svg>
   
</div>



<div class="workspace">
    <svg id="largeCanvas" #largeCanvas ></svg>
    
</div>