:host{
    display: flex;
    flex-direction: row;
}
#distortlines_canvas{
    height: 100%;
    width: 100%;


}
@media (max-width: 768px) {
    :host {
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: center;



    }
}